@using System.Globalization
@model IntegralModel
@{
    ViewBag.Title = "Лабораторная работа 2";
    Layout = "_Layout";
}

<div class="row justify-content-between">
    <div class="col-5">
        <h4>Вычисление определённого интеграла</h4>
    </div>
    <div class="col-1">
        <a asp-area="" asp-controller="Maths" asp-action="Index"
           class="btn btn-dark">
            Назад
        </a>
    </div>
</div>
<hr/>
<div class="container-fluid">
    <form asp-route="Integral" method="post" id="form">
        <div class="form-group">
            <label style="margin: 10px">Функция вида $f(x)$</label>
            <input type="text" asp-for="FunctionExpression" class="form-control" name="FunctionExpression" id="function" placeholder="2 * x, cos(x), pow(x, 3) * 4, etc.">

            <label style="margin: 10px">Неопределённый интеграл $\int{f(x)} dx = F(x)$</label>
            <input type="text" asp-for="IntegralFunctionExpression" class="form-control" name="IntegralFunctionExpression" id="intFunction" placeholder="pow(x, 2), sin(x), pow(x, 4), etc.">

            <label style="margin: 10px">Начало отрезка интегрирования</label>
            <input type="text" asp-for="StartAsText" class="form-control" name="StartAsText" id="start">

            <label style="margin: 10px">Конец отрезка интегрирования</label>
            <input type="text" asp-for="EndAsText" class="form-control" name="EndAsText" id="end">

            <label style="margin: 10px">Точность вычисления</label>
            <input type="text" asp-for="PrecisionAsText" class="form-control" name="PrecisionAsText" id="precision">

            <label style="margin: 10px">Способ исчисления</label>
            <select class="form-control" asp-for="MethodAsText" name="MethodAsText">
                @foreach (var method in Model.Methods.Keys) {
                    <option>@method</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Решить</button>
    </form>
</div>
<hr/>
<div class="container-fluid" style="text-align: center">
    @if (Model.Func == null) {
        <h5>Ожидание ввода..</h5>
        return;
    }

    @if (Model.Precision < 0 || Model.Precision > Math.Abs(Model.End - Model.Start)) {
        <h5>Введено неверное значение точности</h5>
        return;
    }

    <h5>Введённая функция</h5>
    <p>$f(x) = @Model.FunctionExpression$</p>

    @{

        var sum = $@"\sum\limits_{{i=1}}^{{{Model.PartsAmount}}}";
        sum += $" f({Model.StartAsText} + {Model.PrecisionAsText} * i) * {Model.PrecisionAsText} ";
    }

    @if (!Model.CalculationFinished) {
        <h5>Превышен таймаут на исчисление интеграла</h5>
        return;
    }

    <h5>Результат</h5>
    <p>$\int_{@Model.StartAsText}^{@Model.EndAsText} f(x) \ dx = @sum \approx @Model.IntegralValue.ToString(CultureInfo.InvariantCulture)$</p>

    @if (Model.IntegralFunc != null) {
        var actualIntegralValue = Model.IntegralFunc(Model.End) - Model.IntegralFunc(Model.Start);

        <h5>Результат - через неопределенный интеграл</h5>
        <p>
            $\int_{@Model.StartAsText}^{@Model.EndAsText} f(x) \ dx = F(@Model.EndAsText) - F(@Model.StartAsText) = @actualIntegralValue$
        </p>

        <h5>Погрешность</h5>
        <p>$\Delta = @(Model.IntegralValue - actualIntegralValue)$</p>
    }

    <h5>Время, затраченное на исчисление</h5>
    <p>@Model.CalculationTime</p>


</div>