@using System.Globalization
@model IntegratorModel
@{
    ViewBag.Title = "Лабораторная работа 4";
    Layout = "_Layout";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    $(document).ready(() => {
        const data = [];

        @for (var i = 0; i < Model.Results.Count; i++) {
            var result = Model.Results[i];

            @($"const actualX{i} = [")
            @(string.Join(", ", result
                .Select(val => $"{val.x.ToString("F10", CultureInfo.InvariantCulture)}")))
            @("];")

            @($"const actualY{i} = [")
            @(string.Join(", ", result
                .Select(val => $"{val.y.ToString("F10", CultureInfo.InvariantCulture)}")))
            @("];")
        }

        data.push({ type: "scattergl", mode: "line", x: actualX0, y: actualY0 });
        data.push({ type: "scattergl", mode: "line", x: actualX1, y: actualY1 });
        data.push({ type: "scattergl", mode: "line", x: actualX2, y: actualY2 });

        Plotly.plot('graph', data, { showlegend: false });
    });

    function upload() {
        const fileReader = new FileReader();
        fileReader.onload = function() {
            const xhr = new XMLHttpRequest();
            xhr.open('post', "");
            xhr.setRequestHeader("Content-type", "text/plain");
            const result = window.atob(fileReader.result.replace("data:text/plain;base64,", ""));
            xhr.send(result);
            const input = result;
            console.log(input);

            $("#inputValues").val(input);
        };
        fileReader.readAsDataURL(document.getElementById("file").files[0]);
    }
</script>

<div class="row justify-content-between">
    <div class="col-7">
        <h4>Решение ОДУ методом Адамса и методом Эйлера</h4>
    </div>
    <div class="col-1">
        <a asp-area="" asp-controller="Maths" asp-action="Index"
           class="btn btn-dark">
            Назад
        </a>
    </div>
</div>
<hr/>

<div class="container-fluid">
    <form asp-action="Index" method="post" id="form" asp-antiforgery="true">
        <div class="alert-danger" asp-validation-summary="All"></div>

        <div class="form-group">
            <label style="margin: 10px">Функция $f(x, y)$</label>
            <input type="text" asp-for="FFunctionExpression" name="FFunctionExpression" class="form-control" id="function" placeholder="2 * x, cos(x), pow(x, 3) * 4, etc.">
        </div>
        <div class="form-group">
            <label style="margin: 10px">Функция $y(x)$</label>
            <input type="text" asp-for="YFunctionExpression" name="YFunctionExpression" class="form-control" placeholder="2 * x, cos(x), pow(x, 3) * 4, etc.">
        </div>
        <div class="form-group">
            <label style="margin: 10px">Предполагаемая функция $F(x)$</label>
            <input type="text" asp-for="RealFunctionExpression" name="RealFunctionExpression" class="form-control" placeholder="2 * x, cos(x), pow(x, 3) * 4, etc.">
        </div>

        <div class="form-group form-row">
            <div class="col">
                <label style="margin: 10px">$x_0$</label>
                <input type="text" asp-for="CaucheX" class="form-control">
            </div>
            <div class="col">
                <label style="margin: 10px">$y_0$</label>
                <input type="text" asp-for="CaucheY" class="form-control">
            </div>
            <div class="col">
                <label style="margin: 10px">Размер шага</label>
                <input type="text" asp-for="StepLength" class="form-control">
            </div>
            <div class="col">
                <label style="margin: 10px">Количество шагов</label>
                <input type="text" asp-for="StepAmount" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Найти решение</button>
        </div>
    </form>
</div>
<div class="container-fluid">
    <div id="graph"></div>
</div>

@section scripts {
    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}